@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Handjet', sans-serif;

}

body {
    background-image: linear-gradient(#654321, black);
    min-height: 100vh;
}

h1 {
    position: absolute;
    top: 0;
    text-align: center;
    padding-top: 100px;
    color: black;
    font-size: 100px;
    width: 100%;
}

.main-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 20px;
}

.main-buttons button {
    width: 10em;
    height: 3em;
    font-size: 2em;
    border-radius: .5em;
    background-color: coral;
}

.game-area {
    display: none;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    width: 100px;
    padding: 20px 0;
    border-radius: 50px;
    background-color: #2c3e50;
    position: absolute;
}

#circle1 {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 100%;

}

#circle1.active {
    background-color: red;
    box-shadow: 0 0 60px 10px rgba(250, 5, 5, 0.615);

}

#circle1.inactive {
    background-color: rgba(255, 0, 0, 0.526);
}

#circle2 {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 100%;

}

#circle2.active {
    background-color: yellow;
    box-shadow: 0 0 60px 10px rgba(255, 255, 0, 0.588);

}

#circle2.inactive {
    background-color: rgba(255, 255, 0, 0.505);
}

#circle3 {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 100%;

}

#circle3.active {
    background-color: green;
    box-shadow: 0 0 60px 10px rgba(0, 128, 0, 0.649);

}

#circle3.inactive {
    background-color: rgba(0, 128, 0, 0.526);
}

#btn1 {
    padding: 0 20px;
    border-radius: 50%;
    background-color: coral;
    border: 10px solid;
    width: 150px;
    height: 150px;
    font-size: 2.8rem;
    margin-right: 350px;
    position: absolute;


}

#btn2 {
    padding: 0 20px;
    border-radius: 50%;
    background-color: coral;
    border: 10px solid;
    width: 150px;
    height: 150px;
    font-size: 2.8rem;
    margin-left: 350px;
    position: absolute;
}

.score-area {
    margin-top: 30%;
    margin-right: 0%;
    color: aliceblue;
    display: flex;
    font-size: 30px;
}

#correct {
    margin-right: 180px;
}

#incorrect {
    margin-left: 40px;
}